body.auth {
  background-color: #135d44;
}

body.site {
  display       : flex;
  min-height    : 100vh;
  min-height    : 100%;
  flex-direction: column;
}

main.site-container {
  flex: 1;
}

.glass {
  background: white;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius  : 2rem;
  z-index        : 2;
  backdrop-filter: blur(2rem);
}

.list-group-item.active {
  border-color       : unset;
  border-bottom             : 1px solid !important;
  border-bottom-color: #135d44 !important;
}

.list-group-item.active {
  border             : 0px;

}

.dashboard {
  display   : flex;
  min-height: 100vh !important;
}

.dashboard .list-group-item {
  background-color: #212529;
  color           : white;
  font-size       : 20px;
  text-transform  : uppercase;
  margin-top      : 10px;
}

.dashboard .list-group-item:hover {
  background-color: #272b30;
  color           : rgb(240, 239, 239);
}

.avatar {
  width : 140px;
  height: auto;
}